body {
    background: url("../images/concrete_seamless.png")
}

h1  {
    font-family: Times, "Times New Roman", sans-serif;
}

/* Below is for the img & heading pair in portfolio.html  */
.project-card {
    margin: 20px 0 20px 0;
}

.img-thumbnail {
    float: left;
    margin-right: 1em;
}
.container{
    padding: 5px;
}

#footer-brand  {
    flex: auto;
    font-size: 1em;
    color: #ccc;
}